.App{
  background-color: rgb(219, 200, 175);
}




/**************Styling for Main Carousel*************/

ul {
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}
a.active {
  color: white;
  font-size: 32px;
}
a {
  color: grey;
}

.menu {
  background-color: lightsalmon;
  font-size: 24px;
  text-align: center;
}

/**************Styling for Page1*************/

.blackbar{
  color: white;
  width: 100%;
  height: 20%;
  background-color: #1b1b1b;
  margin: 0;
  text-align: center;
  font-size: 25px;
}

.background-picture{
  position: relative;
}

.main-nav{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top:60px;
  width: 90%;
  margin: 10px;
}

.nav-list{
  display: flex;
  flex-direction: row;  
}

.individual-list{
  margin: 10px;
  list-style: none;
  color: white;
  font-size: 20px;
}

.main-text{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top:200px;
  width: 60%;
  color: white;
}

.aesop-essentials{
  margin: 0;
}
.aromatics-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FEFEF0;
}

.resurrection{
  text-align: center;
}
/**************Styling for Page2*************/

.first-half{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-container{
  display:flex;
  flex-direction: column;
}

.main-picture{
  width: 700px;
}

.bottom-half{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
}


/**************Styling for Page3*************/

.page3Container {
  display: flex;
  flex-direction: column;
  width: 99%;

/* border: solid red; */
}

  .row1, .row2 {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
  }

    .leftIntro, .leftDesc {
      width: 40%;
      margin-left: 20px;
    }
      .giftListIntro {
        font-size: 32px;
      }
      .giftList {
        font-size: 24px;
        font-weight: bold;
      }
        .giftLine {
          text-align: left;
        }

      .bodyLine {
        font-size: 24px;
        font-weight: bold;
      }
      .usageLine {
        font-size: 32px;
      }
      .benefitLine {
        font-size: 24px;
      }

    .rightImg {
      width: 40%;
    }

    .odysseyProductBox {
        width: 55%;
        height: 450px;
    }
      .odysseyProductList {
        
        display: table;
        margin: 15px 0 auto;
      }
        .productCard {
          display: inline-block;
          width: 30%;
          height: 400px;
        }
          .prodImg {
            width: 100%;
            height: 300px;
          }
          .prodName {
            font-weight: bold;
            font-size: 14px;
          }


/**************Styling for Page4*************/

.pageFourCarousel{
  display: inline-block;
  position: relative;
  margin: 0px;
  text-align: center;
}

.pageFourImg{
  width:250px;
  height: 250px;

}

.parsleyHeadingOne{
  text-align: center;
  
}

.skinCare{
  border-style: none;
  background-color: rgb(219, 200, 175);
  float: left;
  margin-top: 230px;
  border: solid 2px red;
}



hr{
  color: black;
}

.pageFourImg2{
  width:250px;
  height: 250px;
  border: solid 2px blueviolet;

}

li{
  list-style: none;
  position: relative;
}

.poem{
 text-align: center;
}

.poemArthur{
  text-align: center;
}


input{
  border-style: none;
  
}


.beforeFooter{
  border: solid 1px aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  
}

.discoverList{
  border: solid 1px red; 
  background-color: orange;
}

.locationName, .address{
  text-align: center;
  font-size: smaller;
  padding: 0px;
  margin: 0px;
}



.border{
  display:flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  background-color: black;
  color: white;
  padding: 3px;

}

nav{
  display: flex;
  flex-direction: column;
}